div.scrollmenu {
    background-color:#B96A75;
    overflow: auto;
    white-space: nowrap;
    font-size:40px;
    position: sticky;
    top:0;
    z-index:1;
    height: 120px;
}
.product{
  width: 190px;
  height: 190px;
  border-radius: 1.25rem;
  padding: 0.5em;

}

.test_row{
  color:#000000;
  background-color:#EEEEEE;


}

.td_image{
  align-self: center;
}
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    
  }
  
  div.scrollmenu a:hover {
    background-color:#F7B574;
  }

  .banner { 
    scroll-margin-top: 120px; 
  }

  .price {
    font-size:35px;
    padding:.5em;
    text-align:center;
    color:#464545

  }

  .pic{
    width:190px;
    height:190px;
    border-radius:1.25rem;
    padding:.5em;
  }

  .title{
    text-align:left;
    font-size:35px;
    padding:.5em;
    font-weight:700; 
  }

  .title_no_bold{
    text-align:left;
    font-size:35px;
    padding:.5em;
  }
  
  .titlerow{
    color:#464545;
    background-color:#EEEEEE;
  }

  .title2row{
    border-bottom:1px solid black;
    color:#464545
  }
  .product{
    width: 190px;
    height: 190px;
    border-radius: 1.25rem;
    padding: 0.5em;
  
  }

  .title_no_border{
    color:#464545
  }

  .details{
    text-align:left;
    font-size:35px;
  }

  .titlos:before { 
    display: block; 
    content: " "; 
    margin-top: -35px; 
    height: 105px; 
    visibility: hidden; 
  }

  .salates_pic:before { 
    display: block; 
    content: " "; 
    margin-top: -35px; 
    height: 105px; 
    visibility: hidden; 
  }

  .decaf{
    text-align:left;
    font-size:28px;
    padding:.5em;

  }